    <header class="container">
      <div class="text-center">
        <h1><a href="/profiles">forHealth</a></h1>
        <span>Keep Track of Your Medical History</span>
      </div>
      <nav>
        <h3><a href="/profiles">Profiles</a></h3>
        <h3><a href="/profiles/new">Add Profile</a></h3>
      </nav>
    </header>
