    <header class="container">
      <div class="text-center">
        <h1><a href="/profiles"</a>forHealth</h1>
        <span>Keep Track of Your Medical History</span>
      </div>
      <nav>
        <h3><a href="/profiles"</a>Profiles</h3>
        <h3><a href="/profiles/new"</a>Add Profile</h3>
      </nav>
    </header>
