    <header class="container">
      <nav="row justify-content-around mt-5">
          <ul id="mainMenu">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/profiles">Health Profiles</a></li>
              <li><a href="/providers">Providers</a> </li>
              <li><a href="/notes">Notes &c</a></li>
          </ul>
      </nav> 
      <div class="text-center">
        <h1><a href="/">forHealth</a></h1>
        <span>Keep Track of Your Medical History</span>
      </div>
    </header>
