<div class="container-fluid container-fluid-custom">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold fs-2">forHealth
      </a>

      <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
        <li><a href="/profiles" class="nav-link px-2 link-dark">Profiles</a></li>
        <li><a href="/providers/" class="nav-link px-2 link-dark">Providers</a></li>
        <li><a href="/notes" class="nav-link px-2 link-dark">Notes</a></li>
      </ul> -->

      <div class="col-md-3 text-end">
        <a href="/auth/logout" type="button" class="btn btn-outline-primary me-2">Sign out</a>
      </div>


    </header>
</div><!--
-->