<div class="container-fluid container-fluid-custom">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fw-bold fs-2">forHealth
      </a>

      <div class="col-md-3 text-end">
        <a href="/auth/logout" type="button" class="btn btn-outline-primary me-2">Sign out</a>
      </div>


    </header>
</div><!--
-->