<div class="container-fluid container-fluid-custom pb-5 mb-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Hey Now, <% userName %> </h1>
        </div>
        <div class="col text-end">
            <a href="/dashboard/add" class="btn btn-primary">+ New Note</a>
        </div>
    </div>


    <div class="row">
        <% if (notes.length > 0) { 
            for(let i=0; i < notes.length; i++) { %>
            <div class="col-sm-3 mb-4">
                <div class="card border-primary" style="min-height: 210px">
                    <a href="/dashboard/item/<%= notes[i]._id %>" class="card-body text-decoration-none">
                        <h5 class="card-title"><%= notes[i].title %></h5>
                        <p> class="card-text"><%= notes[i].body %></p>
                    </a>
                </div>
            </div>
        <% }} %>
    </div
</div>