  <div>
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= profile.name %>">
  </div>

  <div>
    <label for="eHealthRecords" class="form-label">eHealth Records</label>
    <input type="text" class="form-control" id="eHealthRecords" name="eHealthRecords" value="<%= profile.eHealthRecords %>"></input>
  </div>

  <div>
  <label for="journal" class="form-label">Journal</label>
    <input type="text" class="form-control" id="journal" name="journal" value="<%= profile.journal %>"></input>
  </div>

  <div>
    <label for="imgUpload" class="form-label">Image</label>
    <input type="file" class="form-control" id="imgUpload" name="file">
  </div>