<section class="container-fluid container-fluid-custom">
  <div class="row">
    <div>
          
            <ul class="list-group">
              
              <li class="list-group-item">
                <div class="row">
                 <div class="col"><b>Name: </b></div>
                 <div class="col"><%= profile.name %></div>
                </div>
              </li>
              
              <li class="list-group-item">
                <div class="row">
                  <div class="col"><b>eHealth Records: </b></div>
                  <div class="col"><%= profile.eHealthRecords %></div>
                </div>
              </li>
              
              
              <li class="list-group-item">
                <div class="row">
                  <div class="col"><b>Journal: </b></div>
                  <div class="col"><%= profile.journal %></div>
                </div>
              </li>
              
            </ul>


    </div>   
  </div>   
</section>
