<h2>Edit Profile</h2>
<form action="/profiles/<%= profile._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <%- include('_form_fields') %>
  <a href="/profiles/<%= profile._id %>">Cancel</a>
  <button type="submit">Update</button>
</form>