<div class="container-fluid container-fluid-custom">
  <h2>Edit Profile</h2>
  <p>profiles/edit</p>
  <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST"  enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
      <a href="/profiles/<%= profile._id %>">Cancel</a>
      <button type="submit">Update</button>
    </div>
  </form>
</div>

<!-- commented ejs vars
<form action="/edit/<%#= customer._id %>?_method=PUT" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="<%#= customer.firstName %>" placeholder="First Name" required>
    </div>

    <div class="col">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="<%#= customer.lastName %>" placeholder="Last Name" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="tel">Telephone</label>
      <input type="text" class="form-control" id="tel" name="tel" value="<%#= customer.tel %>" placeholder="Telephone" required>
    </div>

    <div class="col">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="<%#= customer.email %>" placeholder="Email" required>
    </div>
  </div>

  <div class="form-group mb-4">
      <label for="details">Customer Details</label>
      <textarea class="form-control" name="details" id="details" cols="30" rows="12" placeholder="Customer Details"><%#= customer.details %></textarea>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Update Customer</button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton" data-bs-target="#deleteModal">Delete Customer</button>

  </div> -->

</form>