<section class="container">
  <div class="row mt-5">
    <div class="col-6">
      <h2>Create a Health Profile</h2>
      <p><em>profiles/new</em></p>
      <form action="/profiles" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields") %>
        
        <div class="d-flex justify-content-between pt-3" >
          <a type="text" class="btn btn-secondary btn-lg"
          href="/profiles">Cancel</a>
          <button type="submit" class="btn btn-primary btn-lg">Create</button>
        </div>

      </form>
    </div>
  </div>
</section>
<!-- commented ejs vars
<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%#= deleteModal customer.firstName  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated <%#= new Date(customer.updatedAt).toUTCString() %> </b>
      <b>UserId:</b> <%#= customer._id %>
    </div>
  </div>

</div>

<ul class="list-group"> 

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Name:</b></div>
      <div class="col"><%#= customer.firstName %> <%#= customer.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Tel:</b></div>
      <div class="col"><%#= customer.tel %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Email:</b></div>
      <div class="col"><%#= customer.email %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Details:</b></div>
      <div class="col"><%#= customer.details %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date Created:</b></div>
      <div class="col"><%#= customer.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Date Modified:</b></div>
      <div class="col"><%#= customer.updatedAt %></div>
    </div>
  </li>

</ul> -->