<div class="container-fluid container-fluid-custom">
  <p>profiles/profiles</p>
</div>
<div class="container container-fluid container-fluid-custom pb-5 mb-5">
  <div class="row mb-4">
    <div class="col">
      <h1>Health Profiles</h1>
    </div>
    <div class="col text-end">
      <a href="/profiles/new" class="btn btn-primary">+ New Profile</a>
    </div>

    <div class="row">
      <% if(profiles.length > 0) {
        for(let i = 0; i < profiles.length; i++ ) { %>
          <div class="col-sm-4 mb-4">
              <div class="card border-primary" style="min-height: 60px">
                  <a href="/profiles/<%= profiles[i]._id %>" class="card-body text-decoration-none">
                      <h5 class="card-title"><%= profiles[i].name %></h5>
                  </a>
              </div>
          </div>
      <% }} %>
    </div>
    </div>
</div>
