<section class="container">
  <div class="row mt-5">
    <div class="col-6">
      <p>profiles/profiles</p>

          <section class="container mt-3">
            <div class="row">
              <div class="col">
                <h2>Health Profiles</h2>
                <h3><a href="/profiles/new">Create New Profile</a><h3>
                  <% for( let i=0; i < profiles.length; i++) {%>
                    <div class="card">
                        <a href="/profiles/<%= profiles[i]._id %>">
                          <h5 class="card-title"><%= profiles[i].name%></h5>
                        </a>
                    </div>
                  <% } %>
              </div>
            </div>
          </section>

    </div>
  </div>   
</section>
