<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main >
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">

                <h1 class="display-2 fw-bold mb-4 position-relative">
                    forHealth
                </h1>
                        <h3>A repository for personal medical history. </h3>
                        
                        <p class="mb-4">
                            Use forHealth to make health profiles, save provider information, etc. 
                        </p>
            </div>

        </div>
        <div class="text-center">
            <a href="/auth/google" type="button" class="btn btn-outline-primary me-2">Sign-in</a>
            <a href="/auth/google" type="button" class="btn btn-primary">Sign-up</a>
        </div>
    </main>
</div>