<main class="container">
    <nav="row justify-content-around mt-5">
        <ul id="mainMenu">
            <li><a href="/login">N/A Login</a></li>
            <li><a href="/signup">N/A Signup</a></li>
        </ul>
    </nav> 
    <h1>forHealth</h1>
    <div class="row justify-content-center mt-6">
        <h3>A repository for medical histories</h3>
        <p>/views/index.ejs</p>
</main>
    
