<main class="container">
    <nav="row justify-content-around mt-5">
        <ul id="mainMenu">
            <li><a href="/" class="col-3 btn btn-primary">Home</a></li>
            <li><a href="/about" class="col-3 btn btn-primary">About</a></li>
            <li><a href="/profiles" class="col-3 btn btn-primary">Health Profiles</a></li>
            <li><a href="/providers" class="col-3 btn btn-primary">Providers</a> </li>
            <li><a href="/notes" class="col-3 btn btn-primary">Notes &c</a></li>

            <li><a href="/login" class="col-3 btn btn-primary">N/A Login</a></li>
            <li><a href="/signup" class="col-3 btn btn-primary">N/A Signup</a></li>
    </nav> 
    <h1>forHealth</h1>
    <div class="row justify-content-center mt-6">
        <h3>A repository for medical histories</h3>
        <p>/views/index.ejs</p>
</main>
    
