<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> N/A Login </a>
        <a href="/signup" class="col-3 btn btn-primary"> N/A Signup</a>
    </div> 
    <div class="row justify-content-center mt-6">
        <h3>A repository for medical histories</h3>
        <p>/views/index.ejs</p>
</main>
    

<%- include('partials/footer') -%>