<section class="container">
  <div class="row mt-5">
    <div class="col-6">
          <div>
              <p><strong>User Name</strong></p>
              <p><strong>Email</strong></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

          <section class="container mt-3">
            <div class="row">
              <div class="col">
                <h2>Providers</h2>
                <h3><a href="/providers/new">Create New Provider</a></h3>
                  <% for( let i=0; i < providers.length; i++) {%>
                    <div class="card">
                        <a href="/providers/<%= providers[i]._id%>">
                          <h5 class="card-title"><%= providers[i].name%></h5>
                        </a>
                    </div>
                  <% } %>
              </div>
            </div>
          </section>

    </div>
  </div>   
</section>
